@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

h1 {
    background-color: rgb(114, 66, 10);
    font-family: 'Zen Loop', cursive;
    font-size: 64px;
}
h2 {
    background-color: rgb(114, 66, 10);
    font-family: 'Zen Loop', cursive;
    font-size: 64px;
}
p {
    color: grey;
    background-color: whitesmoke;
}
div {
    width: 80px; 
    height: 80px;
    background-color: red;
    color: white;
}
/* # is an id selector, ids should only appear once per html file */
#content-box {
    width: 40px;
    height: 40px;
    
    /* padding: top right bottom left; */
    padding: 8px 8px 8px 8px;
    border: 8px black solid;

    /* padding: vertical(top and bottom) horizontal(left and right); */
    margin: 8px 8px;

    background-color: red;
    display: block;

    /* box-sizing: content-box; is active by default */
}

/* .is a class selector, classes can be used as many times as wanted */
.border-box {
    width: 200px;
    height: 40px;
    padding: 8px 8px 8px 8px;
    border: 8px black solid;
    margin: 8px 8px 8px 8px;
    background-color: yellow;
    box-sizing: border-box;
    display: block;
}
.inline {
    /* Example showing the display property */
    display: inline;
}
.inline-block {
    display: inline-block;
}

/* Sets all elements to use border-box box sizing
   - Recommended to make working with elements easier
* {
    box-sizing: border-box;
}
*/